=content_for :nav_links do
  =list_of @services do |service|
    =link_to service, root_path(:service => service)

.page-header
  %h1 #{@measureable.service} #{@time_scale} #{@measureable.name}

#chart

:javascript
  $.getJSON('#{@measureable.id}.json?time_scale=#{@time_scale}', function(data) {
    $.plot($("#chart"), data[0], data[1] );
  });
